In [1]:
import plotly.express as px
import pandas as pd
import numpy as np
from dash import Dash, html,dcc
import jupyter_dash
app=jupyter_dash.JupyterDash()

In [2]:
df = pd.read_csv(r'D:\ITI\data visualization\project\DisneyMoviesDataset_mod.csv')
df

,Unnamed: 0,title,Production company,release_year,Running time,Country,Language,Running time (int),Budget (float),Box office (float),...,Box office,Story by,Narrated by,Cinematography,Edited by,Screenplay by,Production companies,Adaptation by,Traditional,Simplified
0,0,Academy Award Review of,Walt Disney Productions,2016,41 minutes (74 minutes 1966 release),United States,English,41.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Snow White and the Seven Dwarfs,Walt Disney Productions,1988,83 minutes,United States,English,83.0,1490000.0,418000000.0,...,"418,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Pinocchio,Walt Disney Productions,2011,88 minutes,United States,English,88.0,2600000.0,164000000.0,...,164000000,"['Ted Sears', 'Otto Englander', 'Webb Smith', ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Fantasia,Walt Disney Productions,2021,126 minutes,United States,English,126.0,2280000.0,83300000.0,...,833000000,"['Joe Grant', 'Dick Huemer']",Deems Taylor,James Wong Howe,NaN,NaN,NaN,NaN,NaN,NaN
4,4,The Reluctant Dragon,Walt Disney Productions,2021,74 minutes,United States,English,74.0,600000.0,960000.0,...,960000,NaN,NaN,Bert Giennon,Paul Weatherwax,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,427,Soul,"['Walt Disney Pictures', 'Pixar Animation Stud...",2020,NaN,United States,English,NaN,150000000.0,NaN,...,NaN,Pete Docter,NaN,NaN,NaN,"['Pete Docter', 'Mike Jones', 'Kemp Powers']",NaN,NaN,NaN,NaN
428,428,Raya and the Last Dragon,"['Walt Disney Pictures', 'Walt Disney Animatio...",2020,NaN,United States,English,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429,429,Cruella,"['Walt Disney Pictures', 'Gunn Films', 'Marc P...",2020,NaN,United States,English,NaN,NaN,NaN,...,NaN,NaN,NaN,Nicolas Karakatsanis,Tatiana S. Riegel,"['Aline Brosh McKenna', 'Jez Butterworth', 'Da...",NaN,NaN,NaN,NaN
430,430,Jungle Cruise,"['Walt Disney Pictures', 'Davis Entertainment'...",2019,NaN,United States,English,NaN,NaN,NaN,...,NaN,"['Glenn Ficarra', 'John Requa']",NaN,Flavio Labiano,Joel Negron,"['Michael Green', 'Glenn Ficarra', 'John Requa']",NaN,NaN,NaN,NaN
431,431,The Beatles: Get Back,NaN,2020,NaN,"United Kingdom, New Zealand, United States",English,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Jabez Olssen,NaN,"['Walt Disney Pictures', 'Apple Corps', 'WingN...",NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               432 non-null    int64
 1   title                    432 non-null    object
 2   Production company       392 non-null    object
 3   release_year             432 non-null    int64
 4   Running time             422 non-null    object
 5   Country                  428 non-null    object
 6   Language                 430 non-null    object
 7   Running time (int)       422 non-null    float64
 8   Budget (float)           273 non-null    float64
 9   Box office (float)       355 non-null    float64
 10  Release date (datetime)  428 non-null    object
 11  imdb                     416 non-null    float64
 12  metascore                283 non-null    float64
 13  rotten_tomatoes          361 non-null    object
 14  Directed by              431 non-null    object
 15  Produced by              422 non-null    object
 16  Written by               203 non-null    object
 17  Based on                 211 non-null    object
 18  Starring                 398 non-null    object
 19  Music by                 422 non-null    object
 20  Distributed by           429 non-null    object
 21  Budget                   276 non-null    object
 22  Box office               361 non-null    object
 23  Story by                 139 non-null    object
 24  Narrated by              55 non-null     object
 25  Cinematography           342 non-null    object
 26  Edited by                395 non-null    object
 27  Screenplay by            191 non-null    object
 28  Production companies     39 non-null     object
 29  Adaptation by            1 non-null      object
 30  Traditional              1 non-null      object
 31  Simplified               1 non-null      object
dtypes: float64(5), int64(2), object(25)
memory usage: 108.1+ KB

In [4]:
df.drop(df.columns[[2,4,6,12,13,15,16,17,18,19,20,21,23,24,25,26,27,28,29,30,31]], axis = 1, inplace = True)
df

,Unnamed: 0,title,release_year,Country,Running time (int),Budget (float),Box office (float),Release date (datetime),imdb,Directed by,Box office
0,0,Academy Award Review of,2016,United States,41.0,NaN,NaN,5/19/1937,7.2,NaN,NaN
1,1,Snow White and the Seven Dwarfs,1988,United States,83.0,1490000.0,418000000.0,12/21/1937,7.6,"['David Hand (supervising)', 'William Cottrell...","418,000,000"
2,2,Pinocchio,2011,United States,88.0,2600000.0,164000000.0,2/7/1940,7.4,"['Ben Sharpsteen', 'Hamilton Luske', 'Bill Rob...",164000000
3,3,Fantasia,2021,United States,126.0,2280000.0,83300000.0,11/13/1940,7.8,"['Samuel Armstrong', 'James Algar', 'Bill Robe...",833000000
4,4,The Reluctant Dragon,2021,United States,74.0,600000.0,960000.0,6/20/1941,6.9,"['Alfred Werker', '(live action)', 'Hamilton L...",960000
...,...,...,...,...,...,...,...,...,...,...,...
427,427,Soul,2020,United States,NaN,150000000.0,NaN,10/15/2020,7.0,Pete Docter,NaN
428,428,Raya and the Last Dragon,2020,United States,NaN,NaN,NaN,3/12/2021,NaN,"['Don Hall', 'Carlos López Estrada']",NaN
429,429,Cruella,2020,United States,NaN,NaN,NaN,5/28/2021,NaN,Craig Gillespie,NaN
430,430,Jungle Cruise,2019,United States,NaN,NaN,NaN,7/30/2021,NaN,Jaume Collet-Serra,NaN
431,431,The Beatles: Get Back,2020,"United Kingdom, New Zealand, United States",NaN,NaN,NaN,8/27/2021,8.0,Peter Jackson,NaN

In [5]:
df.isnull().sum()

Unnamed: 0                   0
title                        0
release_year                 0
Country                      4
Running time (int)          10
Budget (float)             159
Box office (float)          77
Release date (datetime)      4
imdb                        16
Directed by                  1
Box office                  71
dtype: int64

In [6]:
filling_values = {"Budget (float)":df['Budget (float)'].mean()}
df = df.fillna(value=filling_values)
df

,Unnamed: 0,title,release_year,Country,Running time (int),Budget (float),Box office (float),Release date (datetime),imdb,Directed by,Box office
0,0,Academy Award Review of,2016,United States,41.0,6.358861e+07,NaN,5/19/1937,7.2,NaN,NaN
1,1,Snow White and the Seven Dwarfs,1988,United States,83.0,1.490000e+06,418000000.0,12/21/1937,7.6,"['David Hand (supervising)', 'William Cottrell...","418,000,000"
2,2,Pinocchio,2011,United States,88.0,2.600000e+06,164000000.0,2/7/1940,7.4,"['Ben Sharpsteen', 'Hamilton Luske', 'Bill Rob...",164000000
3,3,Fantasia,2021,United States,126.0,2.280000e+06,83300000.0,11/13/1940,7.8,"['Samuel Armstrong', 'James Algar', 'Bill Robe...",833000000
4,4,The Reluctant Dragon,2021,United States,74.0,6.000000e+05,960000.0,6/20/1941,6.9,"['Alfred Werker', '(live action)', 'Hamilton L...",960000
...,...,...,...,...,...,...,...,...,...,...,...
427,427,Soul,2020,United States,NaN,1.500000e+08,NaN,10/15/2020,7.0,Pete Docter,NaN
428,428,Raya and the Last Dragon,2020,United States,NaN,6.358861e+07,NaN,3/12/2021,NaN,"['Don Hall', 'Carlos López Estrada']",NaN
429,429,Cruella,2020,United States,NaN,6.358861e+07,NaN,5/28/2021,NaN,Craig Gillespie,NaN
430,430,Jungle Cruise,2019,United States,NaN,6.358861e+07,NaN,7/30/2021,NaN,Jaume Collet-Serra,NaN
431,431,The Beatles: Get Back,2020,"United Kingdom, New Zealand, United States",NaN,6.358861e+07,NaN,8/27/2021,8.0,Peter Jackson,NaN

In [7]:
df.isnull().sum()

Unnamed: 0                  0
title                       0
release_year                0
Country                     4
Running time (int)         10
Budget (float)              0
Box office (float)         77
Release date (datetime)     4
imdb                       16
Directed by                 1
Box office                 71
dtype: int64

In [8]:
df= df.dropna(how="any")
df.isnull().sum()

Unnamed: 0                 0
title                      0
release_year               0
Country                    0
Running time (int)         0
Budget (float)             0
Box office (float)         0
Release date (datetime)    0
imdb                       0
Directed by                0
Box office                 0
dtype: int64

In [9]:
df["profit"]=df["Box office (float)"]-df["Budget (float)"]
df["profit"]

<ipython-input-9-2cec08eda3a8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["profit"]=df["Box office (float)"]-df["Budget (float)"]

1      4.165100e+08
2      1.614000e+08
3      8.102000e+07
4      3.600000e+05
5      3.500000e+05
           ...
409    1.407000e+09
410    3.067000e+08
413    1.300000e+09
416   -3.860000e+07
425   -1.430000e+08
Name: profit, Length: 342, dtype: float64

In [10]:
df['year']=pd.DatetimeIndex(df['Release date (datetime)']).year
df['year']

<ipython-input-10-b23ad256368c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year']=pd.DatetimeIndex(df['Release date (datetime)']).year

1      1937
2      1940
3      1940
4      1941
5      1941
       ...
409    2019
410    2019
413    2019
416    2020
425    2020
Name: year, Length: 342, dtype: int64

In [11]:
arr=df['Country'].str.split(', ').to_numpy()
def flatten_list(_2d_list):
    flat_list = []
    # Iterate through the outer list
    for element in _2d_list:
        if type(element) is list:
            # If the element is of type list, iterate through the sublist
            for item in element:
                flat_list.append(item)
        else:
            flat_list.append(element)
    return flat_list
countries=flatten_list(arr)
countries

['United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Mexico',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Canada',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Canada',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'Canada',
 'United States',
 'United States',
 'Norway',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Norway',
 'Sweden',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Austria',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Canada',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'France',
 'United States',
 'United States',
 'United States',
 'Canada',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Australia',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Canada',
 'Malaysia',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Canada',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'France',
 'United Kingdom',
 'Germany',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'France',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'France',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'France',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'Australia',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'India',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United Kingdom',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'France',
 'United States',
 'United States',
 'China',
 'France',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States',
 'United States']

In [12]:
countries_df=pd.DataFrame(countries,columns=['country'])
countries_df

           country
0    United States
1    United States
2    United States
3    United States
4    United States
..             ...
375  United States
376  United States
377  United States
378  United States
379  United States

[380 rows x 1 columns]

In [13]:
df=df.drop('Directed by', axis=1).join(df['Directed by'].str.split(', ', expand=True).stack().reset_index(level=1, drop=True).rename('director'))

In [14]:

df.rename(columns={'Directed by':'director'},inplace=True)
df['director']=df['director'].str.strip('"( )\'[]"')
df['director']

1      David Hand (supervising
1             William Cottrell
1              Wilfred Jackson
1                  Larry Morey
1                 Perce Pearce
                ...
410            Joachim Rønning
413                 Chris Buck
413               Jennifer Lee
416                Dan Scanlon
425                  Niki Caro
Name: director, Length: 487, dtype: object

In [17]:
df

,Unnamed: 0,title,release_year,Country,Running time (int),Budget (float),Box office (float),Release date (datetime),imdb,Box office,profit,year,director
1,1,Snow White and the Seven Dwarfs,1988,United States,83.0,1490000.0,4.180000e+08,12/21/1937,7.6,"418,000,000",4.165100e+08,1937,David Hand (supervising
1,1,Snow White and the Seven Dwarfs,1988,United States,83.0,1490000.0,4.180000e+08,12/21/1937,7.6,"418,000,000",4.165100e+08,1937,William Cottrell
1,1,Snow White and the Seven Dwarfs,1988,United States,83.0,1490000.0,4.180000e+08,12/21/1937,7.6,"418,000,000",4.165100e+08,1937,Wilfred Jackson
1,1,Snow White and the Seven Dwarfs,1988,United States,83.0,1490000.0,4.180000e+08,12/21/1937,7.6,"418,000,000",4.165100e+08,1937,Larry Morey
1,1,Snow White and the Seven Dwarfs,1988,United States,83.0,1490000.0,4.180000e+08,12/21/1937,7.6,"418,000,000",4.165100e+08,1937,Perce Pearce
...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,410,Maleficent: Mistress of Evil,2008,United States,119.0,185000000.0,4.917000e+08,10/18/2019,6.6,$491.7 million,3.067000e+08,2019,Joachim Rønning
413,413,Frozen II,2015,United States,103.0,150000000.0,1.450000e+09,11/7/2019,6.9,$1.450 billion,1.300000e+09,2019,Chris Buck
413,413,Frozen II,2015,United States,103.0,150000000.0,1.450000e+09,11/7/2019,6.9,$1.450 billion,1.300000e+09,2019,Jennifer Lee
416,416,Onward,1994,United States,102.0,175000000.0,1.364000e+08,2/21/2020,7.4,$136.4 million,-3.860000e+07,2020,Dan Scanlon
425,425,Mulan,2020,United States,115.0,200000000.0,5.700000e+07,3/9/2020,7.6,$57 million,-1.430000e+08,2020,Niki Caro

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 487 entries, 1 to 425
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               487 non-null    int64
 1   title                    487 non-null    object
 2   release_year             487 non-null    int64
 3   Country                  487 non-null    object
 4   Running time (int)       487 non-null    float64
 5   Budget (float)           487 non-null    float64
 6   Box office (float)       487 non-null    float64
 7   Release date (datetime)  487 non-null    object
 8   imdb                     487 non-null    float64
 9   Box office               487 non-null    object
 10  profit                   487 non-null    float64
 11  year                     487 non-null    int64
 12  director                 487 non-null    object
dtypes: float64(5), int64(3), object(5)
memory usage: 53.3+ KB

In [19]:
df.drop(df.columns[[2,9]], axis = 1, inplace = True)
df

,Unnamed: 0,title,Country,Running time (int),Budget (float),Box office (float),Release date (datetime),imdb,profit,year,director
1,1,Snow White and the Seven Dwarfs,United States,83.0,1490000.0,4.180000e+08,12/21/1937,7.6,4.165100e+08,1937,David Hand (supervising
1,1,Snow White and the Seven Dwarfs,United States,83.0,1490000.0,4.180000e+08,12/21/1937,7.6,4.165100e+08,1937,William Cottrell
1,1,Snow White and the Seven Dwarfs,United States,83.0,1490000.0,4.180000e+08,12/21/1937,7.6,4.165100e+08,1937,Wilfred Jackson
1,1,Snow White and the Seven Dwarfs,United States,83.0,1490000.0,4.180000e+08,12/21/1937,7.6,4.165100e+08,1937,Larry Morey
1,1,Snow White and the Seven Dwarfs,United States,83.0,1490000.0,4.180000e+08,12/21/1937,7.6,4.165100e+08,1937,Perce Pearce
...,...,...,...,...,...,...,...,...,...,...,...
410,410,Maleficent: Mistress of Evil,United States,119.0,185000000.0,4.917000e+08,10/18/2019,6.6,3.067000e+08,2019,Joachim Rønning
413,413,Frozen II,United States,103.0,150000000.0,1.450000e+09,11/7/2019,6.9,1.300000e+09,2019,Chris Buck
413,413,Frozen II,United States,103.0,150000000.0,1.450000e+09,11/7/2019,6.9,1.300000e+09,2019,Jennifer Lee
416,416,Onward,United States,102.0,175000000.0,1.364000e+08,2/21/2020,7.4,-3.860000e+07,2020,Dan Scanlon
425,425,Mulan,United States,115.0,200000000.0,5.700000e+07,3/9/2020,7.6,-1.430000e+08,2020,Niki Caro

In [20]:
df.to_csv(r'preprocessed_data.csv')